@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgBlur{
  background-color: rgba(255, 255, 255, 0.397);
  backdrop-filter: blur(100px);
}

.borde{

  border-bottom: #ffffff3a;
  border-style: solid;
  border-bottom-width: 1px;
}